@import url("themes/gruvbox.css");
@import url("variables.css");
@import url("fonts.css");

.left {
  text-align: start;
}

.right {
  text-align: end;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.left-right-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 10px;
}

.left-right-container-left {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-column: 1;
  grid-row: 1;
}

.left-right-container-right {
  display: flex;
  align-items: center;
  justify-content: right;
  grid-column: 2;
  grid-row: 1;
}

.greeter-img {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: right;
}

html {
  background-color: var(--bg);
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

body {
  font-family: redaction;
  transform: scale(1, 1);
  color: var(--fg);
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

table,
th,
td,
tr {
  font-size: 14px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
tr,
td,
th,
table,
.categories-list,
.changelog,
.status-updates,
.services,
.recent-blog-posts {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
  text-rendering: optimizeSpeed;
  -webkit-text-stroke: 0;
  font-feature-settings: "kern" 0;
  font-kerning: none;
  transform: scale(1, 1);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: redaction;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.box,
pre {
  border: 1px solid var(--fg);
  margin-left: var(--margin-box-left);
  margin-right: var(--margin-box-right);
  margin-top: var(--margin-box-top);
  margin-bottom: var(--margin-box-bottom);
  background-color: var(--bg);
}

.box,
pre,
code {
  font-family: compis;
  line-height: 16px;
  font-size: 16px;
  color: var(--fg);
}

pre,
.box-content {
  overflow: scroll;
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

.box-heading {
  grid-row: 1;
  grid-column: 1;

  border-bottom: 1px solid var(--fg);
  padding-left: var(--padding-box);
  padding-right: var(--padding-box);
  padding-top: calc(var(--padding-box) / 2);
  padding-bottom: calc(var(--padding-box) / 2);
}

pre {
  padding: var(--padding-box);
  overflow: scroll;
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

.box-content {
  grid-row: 2;
  grid-column: 1;

  padding: var(--padding-box);
  overflow: scroll;
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

.box-content-indent {
  border-left: 1px dotted var(--fg);
  padding-left: var(--padding-box);
  margin-left: calc(var(--padding-box) / 2);
  padding-bottom: calc(var(--padding-box) / 2);
  padding-top: calc(var(--padding-box) / 2);
}

.box hr,
pre hr {
  border-top: 1px dotted var(--fg);
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-right: auto;
  margin-left: auto;
}

.status-updates,
.changelog {
  max-height: var(--small-box-height);
}

.status-updates-box,
.changelog-box {
  max-width: var(--small-box-width);
}

.categories-list {
  margin-top: var(--margin-top-categories-list);
  margin-bottom: var(--margin-bottom-categories-list);
}

.status-changelog-container {
  background-image: url("../images/graphics/gruvbox/bg.webp");
  position: relative;
  padding-top: var(--padding-box);
  padding-bottom: var(--padding-box);
  margin-left: auto;
  /* border-top: 1px solid var(--fg); */
  /* border-bottom: 1px solid var(--fg); */
}

.status-updates-box {
  position: relative;
  left: 25%;
  z-index: 1;
}

.changelog-box {
  position: absolute;
  left: calc(calc(var(--small-box-width) / 2) + 25%);
  top: calc(var(--small-box-height) + 30px);
  z-index: 2;
}

.recent-blog-posts-box {
  position: relative;
  width: calc(var(--small-box-width) * 1.5);
  z-index: 3;
}

.hidden {
  display: none;
}

a {
  color: var(--fg);
}

ul {
  list-style-type: square;
  padding-left: var(--padding-ul);
  line-height: 20px;
}

pre ul,
.box ul {
  list-style-type: "- ";
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

hr {
  border-top: 1px solid var(--fg);
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-right: auto;
  margin-left: auto;
}

.nav-list-1 {
  padding-left: var(--padding-nav-ul);
  background-image: url("../images/graphics/gruvbox/navbar-list-1.webp");
  background-position: bottom 10px left var(--padding-nav-ul);
  background-repeat: no-repeat;
  border-top: 1px solid var(--fg);
}

.nav-list-2 {
  padding-left: var(--padding-nav-ul);
  background-image: url("../images/graphics/gruvbox/navbar-list-2.webp");
  background-position: bottom 10px left var(--padding-nav-ul);
  background-repeat: no-repeat;
  border-top: 1px solid var(--fg);
}

.nav-list-1 ul,
.nav-list-2 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 4px;
  padding-top: 10px;
  font-weight: bold;
}

.question {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list-1 ul li,
.nav-list-2 ul li {
  text-indent: 18px;
  background-image: url("../images/graphics/gruvbox/navbar-list-bullet.webp");
  background-repeat: no-repeat;
  background-position: 0 10px;
  padding-left: 0;
  /* font-weight: bold; */
}

.question li {
  text-indent: 18px;
  background-image: url("../images/graphics/gruvbox/navbar-list-bullet.webp");
  background-repeat: no-repeat;
  background-position: 0 10px;
  padding-left: 0;
  text-decoration: underline;
  font-weight: bold;
}

.answer {
  padding-left: 28px;
}

.sidebar-left hr {
  border-top: 1px solid var(--fg);
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-list-top {
  padding: 0;
  margin: 0;
  padding-left: var(--padding-nav-ul);
  background-image: url("../images/graphics/gruvbox/navbar-list-top.webp");
  background-repeat: no-repeat;
  background-position: 0 9px;
}

table {
  margin-left: var(--margin-box-left);
  margin-right: var(--margin-box-right);
  margin-top: 0;
  margin-bottom: 0;
  border-spacing: var(--table-border-spacing);
  /* border-collapse: collapse; */
}

.left-right-container table {
  width: 100%;
}

tr,
td,
th {
  padding: var(--padding-table);
  border-bottom: 1px solid var(--fg);
}

th,
td,
tr {
  text-align: left;
}

table tr td:nth-child(2) {
  width: 100%;
  text-align: right;
}

.gallery-div {
  padding-top: 5px;
  text-align: center;
}

.square-img,
.portrait-img {
  height: var(--square-img-height);
  width: var(--square-img-width);
  object-fit: cover;
  margin: 5px;
  border: 1px solid var(--fg);
  text-align: justify;
  transition: transform 0.2s;
}

.portrait-img {
  height: var(--portrait-img-height);
}

.square-img:hover,
.portrait-img:hover {
  transform: scale(1.025);
}

.blog-img,
.full-artwork,
.tech-img,
video {
  border: 1px solid var(--fg);
  max-height: calc(
    var(--content-height) -
      calc(calc(var(--margin-box-top) * 2) + calc(var(--padding-side) * 2))
  );
  max-width: calc(
    var(--content-width) -
      calc(calc(var(--margin-box-left) * 2) + calc(var(--padding-side) * 2))
  );
  margin-left: var(--margin-box-left);
  margin-right: var(--margin-box-right);
  /* max-width: calc( */
  /*   calc(calc(var(--content-width) / 4) * 3) - var(--padding-side) * 2 */
  /* ); */
}

.tech-img {
  width: 100%;
  min-width: calc(
    calc(var(--content-width) / 3) -
      calc(calc(var(--padding-side) * 2) + calc(var(--margin-box-left) * 2))
  );
  margin-right: 0;
}
