@import url("themes/gruvbox.css");
@import url("variables.css");
@import url("fonts.css");

.left {
  text-align: start;
}

.right {
  text-align: end;
}

.center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.left-right-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  column-gap: 10px;
}

.left-right-container-left {
  display: flex;
  align-items: center;
  justify-content: left;
  grid-column: 1;
  grid-row: 1;
}

.left-right-container-right {
  display: flex;
  align-items: center;
  justify-content: right;
  grid-column: 2;
  grid-row: 1;
}

html {
  background-color: var(--bg);
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

body {
  font-family: redaction;
  transform: scale(1, 1);
  color: var(--fg);
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
tr,
td,
th,
table {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  font-smooth: never;
  text-rendering: optimizeSpeed;
  -webkit-text-stroke: 0;
  font-feature-settings: "kern" 0;
  font-kerning: none;
  transform: scale(1, 1);
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  font-family: redaction;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

pre,
code,
.categories-list,
.changelog,
.status-updates,
.services,
.recent-blog-posts {
  font-family: compis;
  line-height: 16px;
  font-size: 16px;
}

pre,
.changelog,
.status-updates,
.services,
.categories-list,
.recent-blog-posts {
  border: 1px dashed var(--fg);
  margin-left: var(--margin-box-left);
  margin-right: var(--margin-box-right);
  margin-top: var(--margin-box-top);
  margin-bottom: var(--margin-box-bottom);
  padding: var(--padding-box);
  overflow: scroll;
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

.status-updates {
  max-height: var(--status-height);
}

.changelog {
  max-height: var(--changelog-height);
}

.categories-list {
  margin-top: var(--margin-top-categories-list);
  margin-bottom: var(--margin-bottom-categories-list);
}

.hidden {
  display: none;
}

a {
  color: var(--fg);
}

ul {
  list-style-type: square;
  padding-left: var(--padding-ul);
}

pre code ul,
.status-updates ul,
.changelog ul,
.services ul,
.recent-blog-posts ul {
  list-style-type: "- ";
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

table {
  margin-left: var(--margin-box-left);
  margin-right: var(--margin-box-right);
  margin-top: 0;
  margin-bottom: 0;
  border-spacing: var(--table-border-spacing);
  /* border-collapse: collapse; */
}

.left-right-container table {
  width: 100%;
}

tr,
td,
th {
  padding: var(--padding-table);
  border-bottom: 1px dashed var(--fg);
}

th,
td,
tr {
  text-align: left;
}

table tr td:nth-child(2) {
  width: 100%;
  text-align: right;
}

hr {
  border-top: 1px dashed var(--fg);
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  margin-right: auto;
  margin-left: auto;
}

.gallery-div {
  text-align: center;
}

.square-img,
.portrait-img {
  height: var(--square-img-height);
  width: var(--square-img-width);
  object-fit: cover;
  margin: 5px;
  border: 1px solid var(--fg);
  text-align: justify;
  transition: transform 0.2s;
}

.portrait-img {
  height: var(--portrait-img-height);
}

.square-img:hover,
.portrait-img:hover {
  transform: scale(1.025);
}

.blog-img,
.full-artwork,
.tech-img,
video {
  border: 1px solid var(--fg);
  max-height: calc(
    var(--content-height) -
      calc(calc(var(--margin-box-top) * 2) + calc(var(--padding-side) * 2))
  );
  max-width: calc(
    var(--content-width) -
      calc(calc(var(--margin-box-left) * 2) + calc(var(--padding-side) * 2))
  );
  margin-left: var(--margin-box-left);
  margin-right: var(--margin-box-right);
  /* max-width: calc( */
  /*   calc(calc(var(--content-width) / 4) * 3) - var(--padding-side) * 2 */
  /* ); */
}

.tech-img {
  width: 100%;
  margin-right: 0;
}
