@import url("variables.css");
@import url("fonts.css");

.left {
  text-align: start;
}

.right {
  text-align: end;
}

.center {
  text-align: center;
}

pre {
  /* border: 5px solid transparent;
  border-image: url('../images/border8.webp') 3 / 3px round; */
  border: 1px dashed var(--fg);
  font-family: terminus;
  /* border: 1px dotted var(--fg); */
  padding: var(--padding-pre);
  margin: var(--margin-pre);
  overflow: scroll;
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

html {
  background-color: var(--bg);
  scrollbar-color: var(--fg) var(--bg);
  scrollbar-width: thin;
}

body {
  font-family: redaction;
  font-size: 1em;
  color: var(--fg);
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--fg);
}

/* a:hover {
  color: var(--fg-hover);
} */

ul {
  list-style-type: square;
  padding-left: var(--padding-ul);
}

h1, h2, h3, h4, ul, p {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

code {
  font-family: terminus;
}

.html-button {
  border: 3px solid transparent;
  border-image: url('../images/border7.webp') 3 / 3px round;
  /* border: 1px solid transparent;
  border-image: repeating-linear-gradient(
    45deg,
    var(--fg),
    var(--fg) 3px,
    transparent 3px,
    transparent 6px
  ) 1;
  border-image-slice: 1; */
  color: var(--fg);
  background-color: var(--bg);
  font-family: redaction;
  padding-top: var(--button-padding-top);
  padding-bottom: var(--button-padding-top);
  padding-left: var(--button-padding-side);
  padding-right: var(--button-padding-side);
  font-size: 1em;
}

/* .html-button:hover {
  animation: dash-offset 0.7s linear infinite;
}

@keyframes dash-offset {
  to {
    border-image-source: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 3px,
      var(--fg) 3px,
      var(--fg) 6px
    );
  }
} */

table {
  /* border: 1px dotted var(--fg); */
  border: 1px dashed var(--fg);
  padding: var(--padding-pre);
  width: 100%;
  /* border: 5px solid transparent;
  border-image: url('../images/border8.webp') 3 / 3px round; */
}

th, td {
    text-align: left;
    font-family: terminus;
}

hr {
  border-top: 1px dashed var(--fg);
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
}

