:root {
  --fg: #d4be98;
  --bg: #1d2021;
  --blue: #7DAEA3;
  --cyan: #89B482;
  --red: #EA6962;
  --yellow: #D8A657;
  --green: #A9B665;

  --sidebar-left-width: 140px;
  --sidebar-right-width: 240px;
  --content-width: 530px;
  --sidebar-padding: 5px;
  --site-width: calc(
    var(--sidebar-left-width)
    + var(--sidebar-right-width)
    + var(--content-width)
    + calc(var(--column-gap) * 2)
  );

  --title-height: 90px;
  --content-height: 460px;
  --footer-height: 50px;
  --column-gap: 15px;
  --site-height: calc(
    var(--title-height)
    + var(--content-height)
    + var(--footer-height)
  );

  --gallery-img-height: 155px;
  --gallery-img-width: var(--gallery-img-height);

  --padding-top: 10px;
  --padding-side: calc(var(--column-gap) - 5px);
  --padding-pre: var(--column-gap);
  --padding-ul: 30px;
  --button-padding-top: 3px;
  --button-padding-side: calc(var(--button-padding-top) * 2);
}
