:root {
  --fg: #C58D7B;
  --bg: #1C1213;
  --orange: #C24F57;
  --red: #A63650;
  --yellow: #F28171;
  --green: #806C61;
  --cyan: #6B6566;
  --blue: #684C59;
  --magenta: #A63650;
  --brown: #893F45;
}
